#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "jp_keys.dtsi"

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        number_00: number00 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N0>;
            label = "NUMBER00";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q               &kp W           &kp E             &kp R                &kp T                                                         &kp Y        &kp U              &lt 0 I            &kp O            &mt RIGHT_WIN P
&mt LEFT_CONTROL A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LEFT_SHIFT F     &kp G                                                         &kp H        &mt RIGHT_SHIFT J  &mt RIGHT_SHIFT K  &mt RIGHT_ALT L  &mt RIGHT_CONTROL MINUS
&mt LEFT_CONTROL Z  &kp X           &kp C             &kp V                &kp B                                                         &kp N        &kp M              &kp COMMA          &kp PERIOD       &mt RIGHT_CONTROL SLASH
&kp DELETE          &kp LEFT_WIN    &kp LEFT_ALT      &mt LEFT_SHIFT CAPS  &lt 1 SPACE  &lt 3 INT_KATAKANAHIRAGANA      &lt 4 BACKSPACE  &lt 2 ENTER                                                         &kp CARET
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        SYMBOL-MOUSE {
            bindings = <
&kp ESCAPE            &kp LEFT_ALT  &kp LEFT_CONTROL              &kp LEFT_SHIFT            &kp LEFT_BRACKET                       &kp RC(RIGHT_BRACKET)     &kp PAGE_UP     &mkp MB3      &kp PAGE_DOWN    &kp TAB
&mt LEFT_CONTROL TAB  &kp CARET     &mt LEFT_SHIFT RIGHT_BRACKET  &mt LEFT_SHIFT BACKSLASH  &kp LS(LESS_THAN)                      &kp RC(BACKSLASH)         &mkp MB1        &kp UP_ARROW  &mkp MB2         &mt RIGHT_CONTROL PRINTSCREEN
&kp LEFT_CONTROL      &kp MINUS     &kp LS(RIGHT_BRACKET)         &kp LS(BACKSLASH)         &kp LS(LC(F2))                         &kp RS(RC(LEFT_BRACKET))  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT_ARROW  &kp RIGHT_CONTROL
&trans                &trans        &trans                        &trans                    &trans             &trans      &trans  &trans                                                                   &trans
            >;
        };

        NUM {
            bindings = <
&kp ESCAPE                 &kp N7        &kp N8                   &kp N9                   &kp KP_MINUS                      &kp EQUAL         &kp LS(EQUAL)                 &kp LESS_THAN             &kp GREATER_THAN  &kp MINUS
&mt LEFT_CONTROL TAB       &kp NUMBER_4  &mt LEFT_SHIFT NUMBER_5  &mt LEFT_SHIFT NUMBER_6  &kp KP_PLUS                       &kp KP_ASTERISK   &mt RIGHT_SHIFT SINGLE_QUOTE  &mt RIGHT_SHIFT UP_ARROW  &kp SEMICOLON     &kp RIGHT_CONTROL
&mt LEFT_CONTROL ASTERISK  &kp NUMBER_1  &kp NUMBER_2             &kp NUMBER_3             &kp KP_EQUAL                      &kp LEFT_BRACKET  &kp LEFT_ARROW                &kp DOWN_ARROW            &kp RIGHT_ARROW   &kp RIGHT_CONTROL
&kp SLASH                  &kp NUMBER_0  &number_00               &trans                   &trans        &trans      &trans  &trans                                                                                      &trans
            >;
        };

        FUNCTION {
            bindings = <
&kp ESCAPE          &kp F7   &kp F8       &kp F9  &kp F10                             &kp LG(LC(SPACE))      &none                   &kp LG(UP_ARROW)    &none                    &kp RIGHT_WIN
&mt LEFT_SHIFT TAB  &kp F4   &kp F5       &kp F6  &kp F11                             &kp LC(RIGHT_WIN)      &kp LG(LEFT_ARROW)      &kp RIGHT_ALT       &kp LG(RIGHT_ARROW)      &kp RIGHT_SHIFT
&kp LEFT_CONTROL    &kp F1   &kp F2       &kp F3  &kp F12                             &kp LG(LC(RIGHT_ALT))  &kp LG(LS(LEFT_ARROW))  &kp LG(DOWN_ARROW)  &kp LS(LG(RIGHT_ARROW))  &kp RIGHT_CONTROL
&kp HOME            &kp END  &kp C_PAUSE  &trans  &trans   &trans      &kp RIGHT_ALT  &mt RIGHT_SHIFT ENTER                                                                       &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        BLUETOOTH {
            bindings = <
&none         &trans        &trans        &trans        &trans                            &trans  &trans  &trans  &trans  &trans
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                      &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans                            &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &trans                          &trans
            >;
        };
    };
};
